.featured-items {
    padding: 3rem 0;
    background-color: #f9f9f9;
}

.featured-items h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.item-card {
    display: flex;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    max-width: 400px;
    align-items: center;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-img {
    max-width: 100%;
    width: 120px;
    height: auto;
    object-fit: cover;
    margin-right: 1rem;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-info h3 {
    margin-bottom: 0.5rem;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}


.price {
    font-weight: bold;
    color: #4CAF50;
}

.detail-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 0.5rem;
}

.detail-button:hover {
    background-color: #45a049;
}