.filter-bar {
    background-color: #f9f9f9;
    padding: 2rem;
    margin-top: 10.5rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-bar h1 {
    margin-bottom: 1rem;
}

.filter-bar span{
    color: #FFA000;
}

.filter-bar label {
    display: block;
    margin-bottom: 0.5rem;
}

.filter-bar select,
.filter-bar input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-bar button {
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.filter-bar button:hover {
    background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .filter-bar {
        padding: 1.5rem;
        margin-top: 27rem;
    }

    .filter-bar h2 {
        font-size: 1.6rem;
    }

    .filter-bar select,
    .filter-bar input {
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    .filter-bar button {
        padding: 0.6rem 1.2rem;
    }
}

@media (max-width: 480px) {
    .filter-bar {
        padding: 1rem;
        margin-top: 26rem;
    }

    .filter-bar h2 {
        font-size: 1.4rem;
    }

    .filter-bar label {
        font-size: 0.9rem;
    }

    .filter-bar select,
    .filter-bar input {
        padding: 0.3rem;
        font-size: 0.8rem;
    }

    .filter-bar button {
        padding: 0.5rem 1rem;
    }
}
