.sell-form-section {
    padding: 3rem 0;
    background-color: #f9f9f9;
    margin-top: 8rem;
}

.sell-form-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.sell-form-section h2 span{
    color: #FFA000;
}

.sell-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group input[type="file"] {
    padding: 0.5rem;
}

.submit-button {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}