.contact {
    padding: 2rem 0;
    margin-top: 3rem;
}

.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-top: 2rem;
}

.contact h2 span {
    color: #FFA000;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.contact .map {
    flex: 1 1 55%;
    height: 400px;
    border: 0;
    margin-top: 1rem;
    border-radius: 8px;
    object-fit: cover;
}

.contact form {
    flex: 1 1 40%;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: #010101;
    color: #fff;
    border: 1px solid #eee;
    padding-left: 1rem;
    border-radius: 4px;
}

.contact .input-group input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    margin-left: 1rem;
}

.contact .input-group textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    margin-left: 1rem;
}

.contact .btn {
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #FFA000;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact .btn:hover {
    background-color: #e69500;
}

@media screen and (max-width: 992px) {
    .contact{
        margin-top: 4rem;
    }
    .contact .row {
        flex-direction: column;
    }

    .contact .map {
        flex: 1 1 100%;
        height: 300px;
    }

    .contact form {
        flex: 1 1 100%;
    }
    
}

@media (max-width: 768px) {
    .contact{
        margin-top: 20rem;
    }
    .contact h2 {
        font-size: 2rem;
    }

    .contact .row {
        padding: 1rem; 
    }

    .contact .map {
        flex: 1 1 100%;
        height: 250px; 
    }

    .contact form {
        flex: 1 1 100%;
    }

    .contact .input-group {
        padding-left: 0.5rem; 
    }

    .contact .input-group input,
    .contact .input-group textarea {
        font-size: 0.9rem; 
    }

    .contact .btn {
        font-size: 1rem; 
        padding: 0.8rem; 
    }
}

@media (max-width: 480px) {
    .contact h2 {
        font-size: 1.6rem;
    }

    .contact .row {
        flex-direction: column; 
        padding: 0.5rem; 
    }

    .contact .map {
        height: 200px; 
        margin-bottom: 1rem; 
    }

    .contact form {
        padding: 1rem; 
    }

    .contact .input-group {
        padding-left: 0.5rem; 
    }

    .contact .input-group input,
    .contact .input-group textarea {
        font-size: 0.8rem; 
    }

    .contact .btn {
        font-size: 1rem;
        padding: 1rem; 
    }
}
